*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.homepage{
    width: 100%;
    height: 90vh;
    background-color: rgb(40, 35, 61);
    color: white;
}
.homepage__mainContent{
    height: 75vh;
    width: 100%;
    display: grid;
    grid-template-columns: 50% auto;
    padding-right: 20px;
}
.mainContent__one{
    position: relative;
    display: flex;
    flex-direction: column;
    /* background-color: rebeccapurple; */
}

.one__container{
    width: 80%;
    height: 70%;
    /* background-color: green; */
    margin-left: 15%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.one__container > p{
   font-size: 45px;
}
.intro{
    color: #2a9d8f;
}
.challenge{
    color: rgb(215, 194, 140);
}
.one__container > h6{
    font-size: 14px;
    margin-top: 40px;
    line-height: 20px;
}
.btn{
    margin-top: 40px;
    border: 1px solid white;
    outline: none;
    border-radius: 5px;
    padding: 15px 45px;
    font-weight: bold;
    color: white;
    background-color: transparent;
}
.btn:hover{
    background-color: #2a9d8f;
    border: 1px #2a9d8f solid;
}
.btn > a{
    text-decoration: none;
    color: white;
}
.btn > a:hover{
    text-decoration: none;
    color: white;
}
.mainContent__two{
    background-image: url('../../assests/BACKGROUND.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.info__section{
    width: 100%;
    height: 100vh;
}
.info__topic{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
}
.attention{
    color: #2a9d8f;
}
.learners{
    color: rgb(215, 194, 140);
}
.info__cardContainer{
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.homepage__footer{
    position: relative;
    width: 100%;
    height: 35vh;
    background-color: rgb(40, 35, 61);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
.ready{
    color: #2a9d8f;
}
.part{
    color: rgb(215, 194, 140);
}
.footBtn{
    margin-top: 40px;
    border: 1px solid white;
    outline: none;
    border-radius: 5px;
    padding: 15px 45px;
    font-weight: bold;
    color: white;
    background-color: transparent;
}
.footBtn > a{
    text-decoration: none;
    color: white;
}
.footBtn:hover{
    background-color: #2a9d8f;
    border: 1px #2a9d8f solid;
}
.footBtn > a:hover{
    text-decoration: none;
    color: white;
}
.homepage__footer > p{
    position: absolute;
    bottom: 0;
    font-size: 15px;
}
.homepage__footer > p > a{
   text-decoration: none;
   color: #2a9d8f;
}

@media only screen and (max-width: 900px){
    .homepage__mainContent{
        grid-template-columns: 100% auto;
    }
    .mainContent__two{
        display: none;
    }
}

@media only screen and (max-width: 650px){
    .info__cardContainer{
        flex-direction: column;
        height: 250vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .homepage__footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 20vh;
        padding: 10px;
    }
    .homepage__footer > h1{
        font-size: 15px;

    }
    .footBtn{
        margin-top: 8px;
        border-radius: 5px;
        padding: 5px 25px;
    }
    .credit{
        margin-top: 20px;
    }
    .one__container{
        margin-top: 20px;
        margin-left: 10px;
        width: 100%;
    }
    .one__container > p{
        font-size: 20px;
    }
    .info__topic > h1{
        font-size: 20px;
    }
   
}

