.card{
    width: 350px;
    margin-right: 20px;
}

.card:hover{
    transition: all 0.51s;
    transform: scale(1.1);
}
.media{
    width: 100%;
    height: 150px;
    object-fit: contain;
    background-repeat: no-repeat;
}

.action{
    text-decoration: none;
}
.action:hover{
    text-decoration: none;
    color: black;
}
h4{
    text-align: center;
}

h5{
    text-align: center;
}

@media only screen and (max-width: 650px){
    .card{
      width: 200px;

    }
    .media{
        width: 100%;
        height: 100px;
    }
    
}
