.videoLink{
    height: 15vh;
    background-color: rgb(40, 35, 61);
    color: white;
}
.video__container{
    height: calc(100vh - 15vh);
    background-image: url(../../assests/blobs@1x.svg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 35, 61);
}
.video__span1{
    color: #2a9d8f;
}