.videoLink{
    height: 15vh;
    background-color: rgb(40, 35, 61);
    color: white;
}
.video__container{
    height: 100vh;
    background-image: url(../../assests/blobs@1x.svg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 35, 61);
}
.video__title{
    margin-bottom: 20px;
}
.video__span1{
    color: #2a9d8f;
}

.basic_store{
    display: flex;
}

.basic_store1{
    display: flex;
    margin-top: 20px;
}