.videoLink{
    height: 15vh;
    background-color: rgb(40, 35, 61);
    color: white;
}
.video__container{
    height: 85vh;
    background-image: url(../../assests/blobs@1x.svg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 35, 61);
}
.video__title{
    margin-bottom: 20px;
    text-align: center;

}
.video__span1{
    color: #2a9d8f;
}
.videos__container{
    width: 100%;
    display: flex;
    overflow-x: scroll;
}
.videos__container::-webkit-scrollbar{
   display: none;
}

.basic_store{
    display: flex;
}



